@media screen and (max-width: 1280px) {
  p {
    font-size: 0.8em;
  }
}

/* mobile styles */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }

  html,
  body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }

  .scrolled {
    background-color: #ffffff27;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .route-card h3 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }

  .new-text {
    margin-left: 5px;
  }

  .frame {
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .route {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .step-text {
    text-align: center;
  }

  .step-image {
    max-width: 85%;
  }

  .step-button-next {
    font-size: 1em;
  }

  .step-button-back {
    font-size: 1em;
  }

  .tool-frame {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 50px;
    padding-top: 70px;
  }

  .middle-container {
    position: relative;
    scale: 0.6;
    left: 2%;
  }

  .tool-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .zoomslider {
    width: 90%;
    height: 50px;
  }

  .slider-zoom {
    width: 85%;
    margin: 20px 10px;
  }

  .upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-right: 5%;
  }

  .template-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    font-size: 1em;
    justify-content: space-between;
    margin-right: 5%;
  }

  .template-buttons button {
    width: 48%;
  }

  #upload-button {
    width: 90%;
  }
}
